<%= form_for [@post, @post.comments.build] do |f| %>

<div class="form-group">

<%= f.text_field :body, class: "form-control" %>
</div>
<%= f.submit "post ton commentaire", class: "btn btn-default btn-primary"%>
  <% end %>
